@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    --light-blue-100: #f3f5fc;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    --gray-100:#CED4DA;
    --gray-200:#ADB5BD;
    --gray-300:#868E96;
    --gray-400:#495057;
    --gray-500:#343A40;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
header {
    display: flex;
    width: 100%;
    height: 128px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--light-blue-100);
}
header > img {
    width: 120px;
    height: 48px;
    margin:0 0 0 40px;
    
}
.main-form{
    background-color: var(--light-blue-100);
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0 40px 60px;
}
.main-form form{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px 0 120px;
}
#text{
    resize: none;
    border: none;
    background-color: var(--light-blue-100);
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 20px;
    color: var(--dark-blue-300);
    width: 90%;
    
}
#text::placeholder{
    color: var(--dark-blue-300);
}

.main-form  form > div:nth-child(2){
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 40px 30px;
    justify-content: flex-start;
    padding: 0 30px;
}

.main-form  form > div:nth-child(2) img{
    margin: 0 10px;
}
.main-form  form > div:nth-child(2) p{
   font-weight: 400;
   font-size: 12px;
   color: var(--gray-400);
}
.div-buttons{
    display: flex;
    width: 100%;
    justify-content: center;

}
.btn-default{
    margin: 0 30px;
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--dark-blue-300);
    background-color: #fcfcfc;
    color: var(--dark-blue-300);
    font-size: 18px;
}
#encrypt{
    border: 1px solid var(--dark-blue-500);
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100);
}
.display-action{
    width: 25%;
    height: 600px;
    padding: 20px;
    background-color: #fcfcfc;
    position: absolute;
    right: 40px;
    top: 60px;
    display: flex;
    align-items: center;
    border-radius: 24px;
}
.no-txt-found{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.no-txt-found > img{
    width: 200px;
    height: 180px;
    margin: 0 auto;
}
.no-txt-found > h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin: 32px 0 16px;
    color: var(--gray-500);
}
.no-txt-found > p{
    text-align: center;
    color: var(--gray-400);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

}

.txt-found{
    display: none;
    height: 100%;
    width: 80%;
    padding: 10px auto;
}
.txt-found > div{
    background-color: var(--dark-blue-200);
    color: #fcfcfc;
    width: 100px;
    height: 30px;
    border-radius: 24px;
    font-size: 18px;
    position: relative;
    left: 0px;
    bottom: 10px;
    
}

.txt-found > div > p {
    text-align: center;
}
.txt-found > button{
    width: 200px;

}

#text-printed{
    height: 70%;
    width: 90%;
    margin: 0 0 40px;
    border: none;
    resize: none;
    background-color: var(--light-blue-200);
    color: var(--dark-blue-300);
    font-size: 32px;
    padding: 10px;
    border-radius: 25px;
}

.invisible{
    display: none;
}

.visible{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%

}
footer{
    background-color: var(--dark-blue-300);
    font-size: 18px;
    margin: 10px 0 0 ;
    padding: 5px 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: var(--light-blue-100);
    line-height: 150%;
}


@media only screen and (max-width: 600px) {
    /* For cellphone: */
    header{
        height: 92px;
    }
    header > img{
        width: 80px;
        height: 32px;
    }
    .main-form{
        flex-direction: column;
        padding: 0 20px 60px;
    }
    .main-form > form{
        width: 90%;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 20px;
        
    }
    #text{
        font-size: 20px;
        width: 100%;
    }
    .main-form  form > div:nth-child(2){
        width: 90%;
        display: flex;
        flex-direction: row;
        margin: 0 0 30px;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
    }
    .div-buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-default{
        margin: 0 10px 10px;
        width: 200px;
        font-size: 16px;
        
    }
    .display-action{
        width: 100%;
        height: auto;
        position: static;
    }
    .no-txt-found{
        justify-content: flex-start;
    }
    .no-txt-found > img{
        display: none;
    }
    .no-txt-found > h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        margin: 32px 0 16px;
        color: var(--gray-500);
    }
    #text-printed{
        font-size: 20px;
    }

}

  @media only screen and (max-width: 1024px) {
    /* For tablets: */
    header{
        height: 92px;
    }
    header > img{
        width: 80px;
        height: 32px;
    }
    .main-form{
        flex-direction: column;
        padding: 0 20px 60px;
    }
    .main-form > form{
        width: 90%;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 20px;
        
    }
    #text{
        font-size: 25px;
        width: 100%;
    }
    .main-form  form > div:nth-child(2){
        width: 90%;
        display: flex;
        flex-direction: row;
        margin: 0 0 30px;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
    }
    .div-buttons{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .btn-default{
        margin: 0 10px 10px;
        width: 200px;
        font-size: 16px;
        
    }
    .display-action{
        width: 100%;
        height: auto;
        position: static;
        justify-content: center;
    }
    .no-txt-found{
        align-items: center;
    }
    .no-txt-found > img{
        display: none;
    }
    .no-txt-found > h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        margin: 32px 0 16px;
        color: var(--gray-500);
    }
    #text-printed{
        font-size: 25px;
    }

    
}